/* || RESET */
*, *::after, *::before {
    margin: 0;
    padding: 0;
}

img, picture, video {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea, select {
    font: inherit;
    color: inherit;
    background: none;
    border-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style-type: none;
}

html {
    font-size: 18px;
}

/* || VARIABLES */

:root {
    /* FONTS */
    --header-font: 'Candal';
    --font: 'Rubik'; 

    /* COLORS */
    --black: rgb(20, 10, 31);
    --background: rgba(226, 233, 195, 0.45);
    --light: rgb(226, 233, 195); 
    --green: rgb(61, 81, 6);
    --orange: rgb(238, 136, 47);
    --red: #8A1538;
    --white: rgb(255, 255, 255);

    /* BORDERS */
    --BORDERS: 1.5px solid var(--BORDER-COLOR);
    --BORDER-RADIUS: .75rem;
    --BTN-BORDER-RADIUS: .5rem;

    /* SHADOWS */
    --BOX-SHADOW: -.25rem .25rem .5rem var(--black);

    /* STANDARD PADDING */
    --PADDING-TEXT: .5rem .75rem;
    --PADDING-HEADER: .25rem .75rem;
    --PADDING-BOX: 1rem;

    /* STANDARD MARGIN */
    --MARGIN: 1rem;
    /* CHANGE TO CLAMP LATER! */

    /*  ==================
        ==================
        confirm the above styling before submitting
        REMOVE THIS COMMENT
        ==================
        ================== */
}

@font-face {
    font-display: swap;
    font-family: "Candal";
    src: url("../fonts/Candal/Candal-Regular.ttf"); 
}
@font-face {
    font-display: swap;
    font-family: "Rubik";
    src: url("../fonts/Rubik/Rubik-VariableFont_wght.ttf"); 
}

/*  ==================
    ==================
        || STYLES || 
    ==================
    ==================*/


/* || TEXT || */
.header {
    font-family: var(--header-font);
    padding: var(--PADDING-HEADER)
}

.text {
    padding: var(--PADDING-TEXT);
}

.light-text {
    color: var(--light);
}

/* || SECTIONS || */

body {
    background-color: var(--background);
    font-family: var(--font);
    color: var(--black);
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header"
        "content"
        "footer";
}

.top-header{
    background-color: var(--green);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    padding: 0 3rem;
}

.title {
    display: none;
}

.logo-title {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;
}

.logo { 
    height: 4rem;
    width: auto;
}

/* || RECIPE ERROR || */
#error {
    display: none;
    align-content: center;
}

#error a {
    text-decoration: underline;
    color: var(--green)
}

/* || MOBILE HAMBURGER MENU || */

.navigation {
    display: none;
    padding: 1rem 1rem 1rem 0;
}

.hamburger {
    height: auto;
    width: auto;
    display: inline-block;
    position: absolute;
    right: 2rem;
    top: auto;
}

.hamburger img {
    width: 2rem;
    height: auto;
    display: block;
    margin: 1rem;
}

.top-header a {
    padding: var(--PADDING-TEXT);
} 

#nav-list {
    align-self: end;
}
#nav-list li {
    display: inline-block;
    padding: var(--PADDING-TEXT);
    padding: 0 1rem;
} 


/* || UNIVERSAL CONTENT TEMPLATES || */

/* all pages, holds main & aside */
.content { 
    display: grid;
    justify-items: center;
    grid-area: content;
    gap: 1rem;
    margin: var(--MARGIN);
}

/* basic layout for all colored-background containers */
.container {  
    display: grid;
    padding: var(--PADDING-TEXT);
    box-shadow: var(--BOX-SHADOW);
    margin: var(--MARGIN);
    width: 66dvw;
}

/* basic layout for all light bg containers */
.tile { 
    margin: var(--MARGIN);
    border-radius: var(--BORDER-RADIUS);
    padding: var(--PADDING-TEXT);
    background-color: var(--light);
    text-align: center;
    border: 1px solid var(--black);
}

/* basic bg color for all pages' main content */
.main { 
    background-color: var(--orange);
    margin: var(--MARGIN);
    border-radius: var(--BORDER-RADIUS);
}

/* basic bg color for tips container all pages */
.tips { 
    background-color: var(--red);
    margin: var(--MARGIN);
    border-radius: var(--BORDER-RADIUS);
    text-align: center;
}

/* basic layout for footer */
.footer { 
    background-color: var(--green);
    text-align: center;
    padding: var(--PADDING-BOX);
    width: 100dvw;
    grid-area: footer;
}

/* || BUTTONS || */

.button{
    box-shadow: -3px 3px var(--black);
    cursor: pointer;
    padding: var(--PADDING-TEXT);
    border-radius: var(--BTN-BORDER-RADIUS);
}

.button:hover {
    color: var(--orange);
}

.button:active {
    box-shadow: -1px 1px var(--black);
    transform: translateY(2px);
}

 /* buttons on home page and share */
.index-btn {
    background-color: var(--green);
    color: var(--light);
}

/* light colored buttons */
.light-btn {
    background-color: var(--light);
    color: var(--black);
}

.close {
    margin-top: 1rem;
}


/* || RECIPES || */

.recipe-card {
    text-align: center;
    width: 66dvw;
    box-sizing: content-box;
}

.ingredient-list, .directions {
    text-align: left;
    padding-left: 2rem;
}

#ingredients {
    padding: .25rem;
}

/* || CHECKLIST RECIPE STEPS || */

#directions li, #ingredients li {
    list-style: none;
    cursor: pointer;
    position: relative;
    margin: 1rem .5rem;
}

#directions li::before, #ingredients li::before {
    content: '';
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: solid 2px var(--black);
    background-size: cover;
    background-position: center;
    left: -2rem;
}

#directions li.checked, #ingredients li.checked {
    color: var(--green);
    text-decoration: line-through;
}

#directions li.checked::before, #ingredients li.checked::before {
    background-color: var(--green);
}

/* NOTES LIST BULLET POINTS */
.notes {
    list-style-type:circle;
}
.notes li {
    margin: 1rem .5rem;
}

/* || SHARE A RECIPE FORM || */

label {
    display: block;
    text-align: left;
}

input[type=text], textarea {
    width: 100%;
    padding: .5rem;
    margin: .5rem 0;
    display: inline-block;
    border: 1px solid var(--black);
    border-radius: var(--BORDER-RADIUS);
    box-sizing: border-box;
    background-color: var(--light);
    resize: vertical;
}

form >p {
    text-align: left;
    padding: 0 .75rem;
}

.share-instructions {
    padding: 1rem 0;
}

/* || FORM CONFIRMATION \\ */
.confirmation {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--green);
    color: var(--light);
    padding: var(--PADDING-BOX);
    border-radius: var(--BORDER-RADIUS);
    box-shadow: var(--BOX-SHADOW);
}
.confirmation a {
    font-weight:bold;
    text-decoration: underline;
}

/* || LARGER SCREENS (tablets and larger) || */

@media only screen and (min-width: 768px){
    :root {
        /* STANDARD MARGIN */
        --MARGIN: .5rem;
    }    
    /* .content {
    }     */
    .main {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-content: space-evenly;
    }
    .featuredRecipes {
        display: grid;
        grid-template-rows: 1fr 3fr auto;
        padding: .5rem;
        }
    .featuredRecipes >.header {
        align-self: center;
    }
    .tip-tiles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .container {
        min-width: 66dvw;
    }
    .recipe-container, .tips {
        max-width: 66dvw;
    }
    .recipe-tiles {
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-items: stretch;
        grid-template-areas:
            "ingredients directions"
            "notes notes"
    }

    #ingredients {
        grid-area: ingredients;
    }

    #cooking-directions {
        grid-area: directions;
    }

    #notes-section {
        grid-area: notes;
    }

    .recipe-list-tile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        justify-content: space-around;
    }
    .title {
        display: inline;
    }
    .navigation {
    display: block !important;
    }
    
    .hamburger {
        display: none;
    }
} 